<div class="card border-0 bg-transparent">
	<div class="card-body p-0 pb-3">
		<a href="{% url 'main:event_detail' event.type event.id %}">
			<h3 class="card-title fs-3 text-white fw-light d-inline-block bg-dark p-3 m-0">{{ event.title }}</h3>
		</a>
	</div>
	<div class="row">
		<div class="col-md-8 ">
			<a href="{% url 'main:event_detail' event.type event.id %}">
				{% comment %} тут берём только первую картинку {% endcomment %}
				<img src="{{ event.images.first.image.url }}" class="card-img pb-3" alt="{{ event.images.first.image }}">

				{% comment %} далее перечисляем картинки {% endcomment %}
				{% comment %} {% for image in event.images.all %}
				<img src="{{ image.image.url }}" class="card-img" alt="{{ image.image }}">
				{% endfor %} {% endcomment %}
			</a>
		</div>
		<div class="col-md-4 p-0">
			<div class="card-body p-0 px-5">
				{% comment %} <h5 class="card-title">{{ event.title }}</h5> {% endcomment %}
				{%if event.subtitle%}
					<h6 class="card-subtitle fs-5 text-end text-muted mb-2">{{ event.subtitle }}</h6>
				{% endif %}
				<h6 class="card-subtitle fs-4 text-light fw-light text-end mb-2">{{ event.location }} {{ event.date|date:'Y' }}</h6>
				<p class="card-text fw-light text-end">{{ event.description }}</p>
			</div>
		</div>
	</div>
	{% comment %} {% if event.video_link %}
	<div class="video-container">
		<iframe id="ytplayer" type="text/html" width="720" height="405" src="{{ event.video_link }}" frameborder="0"
			allowfullscreen></iframe>
	</div>
	{% endif %} {% endcomment %}
</div>
