{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    Default title :(
    {% endblock %}
  </title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <!-- Подключаем стилевой файл -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

  <body class="body" data-bs-theme="dark">
    <header class="mx-auto">
      {% include 'includes/header.html' %}
    </header>
    <main class="flex-fill">
      {% block content %}
      Контент не подвезли :(
      {% endblock %}
    </main>
    {% comment %} <footer class="mx-auto">
      {% include 'includes/footer.html' %}
    </footer> {% endcomment %}

    <!-- Optional JavaScript -->
    <!-- первых 2 не грузил jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>

  </body>

</html>